SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/bookinghomestay_db
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

APP_JWT_SECRET=your_jwt_secret_key
APP_JWT_EXPIRATION=86400000
APP_OTP_EXPIRATION_MINUTES=10

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
APP_MAIL_FROM=your_email@gmail.com
